<!DOCTYPE html>
<html lang="en">
<head>
    <title>TDBridge - Connected</title>

    <%- include("../../partials/head") %>
</head>
<body>

    <main>
        <section class="modalike">
            <h1><i class="fa-duotone fa-gears"></i> TDBridge Setup</h1>
            <p>
                Your Twitch account has been connected! Welcome, <%= user.display_name %>
            </p>
        </section>
    </main>
    
    <%- include("../../partials/js") %>
</body>
</html>
